.float_box{
	float:left;
	padding:2px;
	width:107px;
	height:142px;
	border:1px solid;
	border-radius: 6px;
	-webkit-transition-property:-webkit-transform, opacity, width, height;
	-webkit-transition-duration :0.8s;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	
}
.float_box img{
	-webkit-transition-property:-webkit-transform, opacity, width, height;
	-webkit-transition-duration :0.8s;
	width:107px;
	height:142px;
}

.image_box{
	width:100px;
	height:100px;
	border:none;
	border-radius: 4px;
	overflow:hidden;
}
.image_box img{
	width:100px;
	height:100px;
	border-radius: 3px;
}
.bloat_boxes {
	position:relative;
}
